[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJyrCj+pFtzoZdqKury4yctEmfwV0uQ2anF0sgYwytTX
	name = Edman Alicea
	email = edmangalicea@gmail.com

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true
